{% extends "sms_nudger/base.html" %}
{% load static %}


{% block qary %}
<link rel='stylesheet' type="text/css" href="{% static 'sms_nudger/faceofqary-bundle/quizbot.css' %}">
<script defer src="{% static 'sms_nudger/faceofqary-bundle/quizbot.js' %}"></script>
{% endblock qary %}

{% block content %}

<h1> Qary's proactive side </h1>

<p> Nudging humans to be more prosocial and productive </p>

<h1> {{ section.title }} </h1>

{% for nudge in nudge_list %}
<h2>
    <a href="{{ nudge.get_absolute_url }}">
        {{ nudge.name }}
    </a>
</h2>
<p>{{ nudge.description|truncatewords:"60" }}</p>
{% endfor %}
{% endblock content %}
