{% extends "sms_nudger/base.html" %}
{% load crispy_forms_tags %}

{% block extrastyle %}
    {{ form.media }}
    <style>
    .selector h2 {
        margin: 0;
        padding: 8px;
        font-weight: 400;
        font-size: 15px;
        text-align: left;
        background: #005236;
        color: white;
    }
    </style>
{% endblock extrastyle %}

{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Nudge Creation</legend>
                {% crispy form %}
            </fieldset>
            <!-- <div class="form-group">
                <button class="btn btn-outline-info" type="Submit">Send</button>
            </div>
            -->
        </form>
    </div>
{% endblock content %}


{% block javascript %}
    <script type="text/javascript">
        $(document).ready(function(){
            hideShow()
        })

        // call hideShow when the user clicks on the project_type dropdownlist
        $('#id_nudge_type').click(function(){
            hideShow()
        });
        function hideShow(){
            if(document.getElementById('id_nudge_type').value == "scheduled_email" || document.getElementById('id_nudge_type').value == "scheduled_sms")
                {
                    $('#div_id_scheduled_datetime').show();
                }
            else
                {
                    $('#div_id_scheduled_datetime').hide();
                }
            }
    </script>
{% endblock %}



<div class="related-widget-wrapper">
