{% extends "sms_nudger/base.html" %}

{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Delete Nudge</legend>
                <h2>Are you sure you want to delete the nudge "{{ object.message.subject }}" you scheduled to send {{object.student}} on {{object.scheduled_datetime}}?
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-danger" type="submit">Yes, delete</button>
                <a class="btn btn-outline-secondary" href="{% url 'nudge-list' %}">Cancel</a>
            </div>
        </form>
    </div>
{% endblock content %}
