{% extends 'sms_nudger/base.html' %}

{% block content %}
<div class="container w-100">
    {% for faq in faqs %}
    <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <span>{{ faq.question }}</span>
            <span class="text-secondary">{{ faq.created_on }} - {{ faq.user_id }}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <span class="text-primary">{{ faq.answer }}</span>
            <span class="text-info">Qary</span>
        </li>
    </ul>
    {% endfor %}

    {% if is_paginated %}
    {% if page_obj.has_previous %}
    <a class="btn btn-outline-secondary mb-4" href="?page=1">First</a>
    <a class="btn btn-outline-secondary mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
    {% endif %}

    {% for num in page_obj.paginator.page_range %}
    {% if page_obj.number == num %}
    <a class="btn btn-secondary mb-4" href="?page={{ num }}">{{ num }}</a>
    {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
    <a class="btn btn-outline-secondary mb-4" href="?page={{ num }}">{{ num }}</a>
    {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
    <a class="btn btn-outline-secondary mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
    <a class="btn btn-outline-secondary mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
    {% endif %}

    {% endif %}

</div>

{% endblock %}
