{% extends "sms_nudger/base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block qary %}
    <link rel='stylesheet' type="text/css" href="{% static file_css %}">
    <script defer src = "{% static file_js %}"></script>
{% endblock qary %}

{% block content %}

<h1> Mathbot Demo </h1>

{% endblock %}
