{% extends 'sms_nudger/base.html' %}

{% block content %}

<h1>Quiz Room</h1>

<textarea id="chat-log" cols="100" rows="20"></textarea><br>
<input id="chat-message-input" type="text" size="100"><br>
<input id="chat-message-submit" type="button" value="Send">
{{ room_id|json_script:"room-id" }}
<script>
        const roomId = JSON.parse(document.getElementById('room-id').textContent);
        if (window.location.protocol == 'https:') {
            wsProtocol = 'wss://'
        } else {
            wsProtocol = 'ws://'
        }

        const chatSocket = new WebSocket(
            wsProtocol
            + window.location.host
            + '/ws/quiz/'
            + roomId
            + '/'
        );

        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            document.querySelector('#chat-log').value += (data.message + '\n');
        };


        chatSocket.onclose = function(e) {
            window.alert("Thank you for attending!")
            console.error('Chat socket closed unexpectedly');
            window.location.href = window.location.origin;
        };

        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#chat-message-submit').click();
            }
        };

        document.querySelector('#chat-message-submit').onclick = function(e) {
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;
            chatSocket.send(JSON.stringify({
                'message': message
            }));
            messageInputDom.value = '';
        };
</script>

{% endblock %}
