.content-section {
    width: 350px;
    background: #f1f2f9;
    padding: 15px;
}

.bot-text, .user-text {
    width: 150px;
    padding: 10px;
    font-size: 12px;
    margin: 5px 0px 5px 0px;
}

/* Breaks bulleted list */
/*background: #c0f5a9;*/
.bot-text {
    float: left;
    clear:  both;
    background: #ffffff;
    border-radius: 10px 10px 10px 0px;
}

.user-text {
    float: right;
    clear: left;
    /*background: #a9d0f5;*/
    background: #2e3192;
    color:  white;
    font-family: arial;
    border-radius: 10px 10px 0px 10px;
}

#state-form {
    clear: both;
}

/*.custom-radio {
    background: #e9edf5;
    width: 200px;
    padding: 10px;
    border-radius: 10px;
    margin:  5px;
}*/

#id_user_text_0 {
    border: 0px;
}

 .user-options {
    list-style-type: none;
    margin: 25px 0 0 0 ;
    padding: 0;
 }


.user-options li{
    list-style-type: none;
    float: left;
    margin: 0 10px 0 0;
    width: 100px;
    height: 100px;
    position: relative;
 }

.user-options label, .user-options input {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 5px;
    background: #18a5aa;
    color: white;
 }

.user-options input[type="radio"] {
    opacity: 0.011;
    z-index: 100;
 }

.user-options input[type="radio"]:checked + label {
    /*background: #d9e1ff;*/
    background: #1dc0c6;
 }

.user-options label {
    padding: 5px;
/*    border: 1px solid black;*/
    cursor: pointer;
    z-index: 90;
}

.user-options label:hover {
    /*background:  #DDD;*/
    background: #1dc0c6;
}


.user-textfield {

 }

ul {
    margin-left: 10px;
    padding:  0px;
}

a {
    word-wrap:  break-word;
}
